@font-face {
    font-family: Audiowide;
    src: url('fonts/audiowide-regular-webfont.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    /* background-image: url("images/ascent.png"); */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-size: auto;
    background-color: #ECE8E1;
}

.navigation{
    position: sticky;
    top: 0;
    width: auto;
    display: flex;
    /* margin-inline: auto; */
    align-items: center;
    /* align-content: center; */
    /* margin-inline: 30px; */
    background-color: #0F0F1A;
    overflow: hidden;
    padding: 12px;
    z-index: 1000;

}

.navigation .logo {
    transform: scale(0.6);
}

.navigation h1 {
    font-family: Audiowide;
    color: #5F606B;
    margin-inline: 10px;
    margin-right: auto;
}

.navigation .menubar a {
    max-width: fit-content;
    margin-inline: 25px;
    background-color: #0F0F1A;
}

.navigation .menubar a img:hover {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(108%) contrast(100%);
}

/* ================================================================================= */

.agent-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.agent-box {
    box-shadow: inset 0 0 10px #000000;
    border: none;
    background-color: #cac5bd;
    display: inline-block;
}

.agent-box img {
    border-radius: 10px;
    display: block;
}

.agent-info {
    background-color: #313139;
    text-align: center;
    width: 31.24rem;
}

.agent-info h4 {
    color: #ECE8E1;
    font-family: Audiowide;
    font-size: 5rem;
}

.agent-info h5 {
    font-size: 1.75rem;
    color: #ECE8E1;
    margin-top: -2vh;
    font-family: Helvetica;
    font-weight: bold;
}

.agent-info p {
    padding: 20px;
    margin-top: -2vh;
    font-family: Helvetica;
    color: #ECE8E1;
}




/* ================================================================================= */

footer {
    background-color: #0F0F1A;
    color: #5F606B;
    position: relative;
    padding: 8vh; 
    text-align: center;
    font-family: Audiowide;
}

footer p {
    margin-top: 3vh;
}

.yt-logo {
    transform: scale(1.438);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

@media screen and (min-width: 769px) {

}

@media screen and (max-width: 768px) {

}