@font-face {
    font-family: Audiowide;
    src: url('fonts/audiowide-regular-webfont.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    /* background-image: url("images/ascent.png"); */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-size: auto;
    background-color: oldlace;
}

.navigation{
    position: sticky;
    top: 0;
    width: auto;
    display: flex;
    /* margin-inline: auto; */
    align-items: center;
    /* align-content: center; */
    /* margin-inline: 30px; */
    background-color: #0F0F1A;
    overflow: hidden;
    padding: 12px;
    z-index: 1000;

}

.navigation .logo {
    transform: scale(0.6);
}

.navigation h1 {
    font-family: Audiowide;
    color: #5F606B;
    margin-inline: 10px;
    margin-right: auto;
}

.navigation .menubar a {
    max-width: fit-content;
    margin-inline: 25px;
    background-color: #0F0F1A;
}

.navigation .menubar a img:hover {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(108%) contrast(100%);
}


/* ================================================================================= */

.news-box h1 {
    font-family: "Audiowide";
}

.news-box p {
    font-family: Helvetica;
}

.news {
    display: inline-flex;
    /* border: 2px solid #ffffff; */
    overflow: hidden;
    position: relative;
}

.logo-container img {
    position: absolute;
    width: 6vh;
    height: auto;
    z-index: 999;
    padding: 1.4vh;
}

.news img {
    width: 55vh;
    transition: transform 0.3s ease-in-out;
}

.news img:hover {
    transform: scale(1.1);
}

.news-box {
    display: inline-block;
    margin-top: 3vh;
    margin-inline: 1vh;
}

.news-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 2vh 0; /* Adjusts spacing */
    min-height: calc(100vh - 20vh); /* Adjust height dynamically */
}


/* ================================================================================= */


footer {
    background-color: #0F0F1A;
    color: #5F606B;
    position: relative;
    padding: 8vh; 
    text-align: center;
    font-family: Audiowide;
}


.yt-logo {
    transform: scale(1.438);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

@media screen and (min-width: 769px) {

}

@media screen and (max-width: 768px) {

}